In [9]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder \
    .appName("Results") \
    .getOrCreate()

In [11]:
Local_Path ="file:///home/ibrahimkhalid/Projects/Hadoop-Docker-Spark-Sql-Hive-Data-Pipeline/Input_data/Olympic_Results.csv"
df = spark.read.csv(Local_Path,header=True)

In [12]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [13]:
df.show(5)

+---------+--------------------+--------------------+----------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|result_id|         event_title|             edition|edition_id|        sport|           sport_url|         result_date|     result_location| result_participants|       result_format|       result_detail|  result_description|
+---------+--------------------+--------------------+----------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|    30359|Super-Heavyweight...|2004 Summer Olympics|        26|Weightlifting|/editions/26/spor...|25 August 2004 — ...|Olympiako Gymnast...|17 from 15 countries|Total of best lif...|                  na|Not so much a com...|
|        "|                NULL|                NULL|      NULL|         NULL|                NULL|                NULL|                NULL|                NULL|                NULL|                NULL|                NULL|
|     1626|Giant Slalom, Women1|1998 Winter Olympics|        46| Snowboarding|/editions/46/spor...|     9 February 1998|Mt. Yakebitai, Sh...|31 from 14 countries|Two runs, total t...|Gates: 38 / 36Len...|The women’s giant...|
|        "|                NULL|                NULL|      NULL|         NULL|                NULL|                NULL|                NULL|                NULL|                NULL|                NULL|                NULL|
|       76|        Singles, Men|1976 Winter Olympics|        40|         Luge|/editions/40/spor...|4 –  7 February 1976|Kunsteis-Bob- und...|43 from 15 countries|Four runs, total ...|Curves: 14Length:...|Once more, the co...|
+---------+--------------------+--------------------+----------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [14]:
df.count()

20782

In [15]:
df.printSchema()

root
 |-- result_id: string (nullable = true)
 |-- event_title: string (nullable = true)
 |-- edition: string (nullable = true)
 |-- edition_id: string (nullable = true)
 |-- sport: string (nullable = true)
 |-- sport_url: string (nullable = true)
 |-- result_date: string (nullable = true)
 |-- result_location: string (nullable = true)
 |-- result_participants: string (nullable = true)
 |-- result_format: string (nullable = true)
 |-- result_detail: string (nullable = true)
 |-- result_description: string (nullable = true)

In [16]:
df.write.mode("overwrite").parquet("hdfs:///data/bronze/Olympic_Results_parquet")