In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .appName("Athlete") \
    .getOrCreate()

25/04/13 00:59:19 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
local_path = "file:///home/ibrahimkhalid/Projects/Hadoop-Docker-Spark-Sql-Hive-Data-Pipeline/Input_data/Olympic_Athlete_Bio.csv"

df = spark.read.csv(local_path, header=True)

In [4]:
df.show(5)

+----------+------------------+------+----------------+------+------+-------------------+-----------+--------------------+--------------------+
|athlete_id|              name|   sex|            born|height|weight|            country|country_noc|         description|       special_notes|
+----------+------------------+------+----------------+------+------+-------------------+-----------+--------------------+--------------------+
|     65649|     Ivanka Bonova|Female|    4 April 1949|   166|    55|           Bulgaria|        BUL|Personal Best: 40...|                NULL|
|    112510| Nataliya Uryadova|Female|   15 March 1977|   184|    70| Russian Federation|        RUS|                NULL|Listed in Olympia...|
|    114973|Essa Ismail Rashed|  Male|14 December 1986|   165|    55|              Qatar|        QAT|Personal Best: 10...|Listed in Olympia...|
|     30359|       Péter Boros|  Male| 12 January 1908|  NULL|  NULL|            Hungary|        HUN|Between 1927 and ...|                NULL|
|     50557|    Rudolf Piowatý|  Male|   28 April 1900|  NULL|  NULL|     Czechoslovakia|        TCH|Rudolf Piowaty jo...|                NULL|
+----------+------------------+------+----------------+------+------+-------------------+-----------+--------------------+--------------------+
only showing top 5 rows

In [5]:
df.count()

155861

In [6]:
df.printSchema()

root
 |-- athlete_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- born: string (nullable = true)
 |-- height: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- country: string (nullable = true)
 |-- country_noc: string (nullable = true)
 |-- description: string (nullable = true)
 |-- special_notes: string (nullable = true)

In [7]:
athlete =df.toPandas()
athlete.isnull().sum()

athlete_id            0
name                  0
sex                   0
born               4053
height            50749
weight            50749
country               0
country_noc           0
description      100998
special_notes     95224
dtype: int64

In [8]:
df.write.mode("overwrite").parquet("hdfs:///data/bronze/Olympic_Athlete_Bio_parquet")