In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("Date_Dim").getOrCreate()

25/03/25 05:19:00 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [58]:
hdfs_bronze_path ="hdfs:///data/bronze/Olympics_Games_parquet"
df = spark.read.parquet(hdfs_bronze_path)

In [59]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [60]:
df.select("year","start_date","end_date").show(5)

+----+----------+--------+
|year|start_date|end_date|
+----+----------+--------+
|1896|   6 April|15 April|
|1900|      NULL|    NULL|
|1904|    14 May|    NULL|
|1908|   13 July| 25 July|
|1912|    6 July| 15 July|
+----+----------+--------+
only showing top 5 rows

In [61]:
df.select("year","start_date","end_date").printSchema()

root
 |-- year: string (nullable = true)
 |-- start_date: string (nullable = true)
 |-- end_date: string (nullable = true)

In [133]:
df_New = df.select(col("edition_id").alias("Date_id").cast("integer"),col("year"),col("start_date"),col("end_date"))

In [134]:

# Ensure year is numeric
df_New = df_New.withColumn("year", col("year").cast("int"))

# Convert 'start_date' and 'end_date' into actual dates
df_New = df_New.withColumn("start_date", to_date(trim(col("start_date")), "d MMMM"))
df_New = df_New.withColumn("end_date", to_date(trim(col("end_date")), "d MMMM"))

In [135]:
df_New = df_New.withColumn("start_day_date", dayofmonth(col("start_date")))
df_New = df_New.withColumn("start_month_date", month(col("start_date")))
df_New = df_New.withColumn("end_day_date", dayofmonth(col("end_date")))
df_New = df_New.withColumn("end_month_date", month(col("end_date")))

In [136]:
df_New = df_New.select("Date_id","year","start_day_date","start_month_date","end_day_date","end_month_date")

In [137]:
df.select("year","start_date","end_date").show(5)

+----+----------+--------+
|year|start_date|end_date|
+----+----------+--------+
|1896|   6 April|15 April|
|1900|      NULL|    NULL|
|1904|    14 May|    NULL|
|1908|   13 July| 25 July|
|1912|    6 July| 15 July|
+----+----------+--------+
only showing top 5 rows

In [149]:
df_New.show(3)

+-------+----+--------------+----------------+------------+--------------+
|Date_id|year|start_day_date|start_month_date|end_day_date|end_month_date|
+-------+----+--------------+----------------+------------+--------------+
|      1|1896|             6|               4|          15|             4|
|      5|1908|            13|               7|          25|             7|
|      6|1912|             6|               7|          15|             7|
+-------+----+--------------+----------------+------------+--------------+
only showing top 3 rows

In [150]:
df.printSchema()

root
 |-- edition: string (nullable = true)
 |-- edition_id: string (nullable = true)
 |-- edition_url: string (nullable = true)
 |-- year: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country_flag_url: string (nullable = true)
 |-- country_noc: string (nullable = true)
 |-- start_date: string (nullable = true)
 |-- end_date: string (nullable = true)
 |-- competition_date: string (nullable = true)
 |-- isHeld: string (nullable = true)

In [151]:
df_New.count()

54

In [152]:
null_counts = df_New.select([sum(col(c).isNull().cast("int")).alias(c) for c in df_New.columns])

# Show the result
null_counts.show()

+-------+----+--------------+----------------+------------+--------------+
|Date_id|year|start_day_date|start_month_date|end_day_date|end_month_date|
+-------+----+--------------+----------------+------------+--------------+
|      0|   0|             0|               0|           0|             0|
+-------+----+--------------+----------------+------------+--------------+

In [153]:
df.write.mode("overwrite").parquet("hdfs:///data/sliver/Date_parquet")

In [25]:
spark