In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [13]:
spark = SparkSession.builder \
    .appName("Athlete_Dim Gold") \
    .config("spark.sql.warehouse.dir", "/user/hive/warehouse") \
    .config("hive.metastore.uris", "thrift://localhost:9083") \
    .enableHiveSupport() \
    .getOrCreate()

25/04/07 18:09:13 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [14]:
spark.sql("CREATE DATABASE IF NOT EXISTS gold")

DataFrame[]

In [15]:
spark.sql("USE gold")

DataFrame[]

In [16]:
hdfs_silver_path ="hdfs:///data/silver/Athlete_parquet"
athlete = spark.read.parquet(hdfs_silver_path)

In [17]:
athlete.printSchema()

root
 |-- Athlete ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- Born: date (nullable = true)
 |-- Height: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Nationality: string (nullable = true)

In [18]:
athlete.show()

+----------+-------------------+---+----------+------+------+--------------------+
|Athlete ID|               Name|Sex|      Born|Height|Weight|         Nationality|
+----------+-------------------+---+----------+------+------+--------------------+
|    109014|     Lee Jeong-Seon|  1|1979-02-15|   177|    80|   Republic of Korea|
|    110132|     Viktor Pfeifer|  1|1987-05-16|   182|    62|             Austria|
|     31750|         Klaus Weiß|  1|1944-11-20|   192|    92|        East Germany|
|    900058|    Gerhard Pöttler|  1|1963-08-17|   176|    71|             Austria|
|    106765|  Oreidis Despaigne|  1|1981-09-20|   186|   100|                Cuba|
|     52470|      Kiyoko Fukuda|  0|1970-08-04|   178|    67|               Japan|
|     19750|        Sebo Ebbens|  1|1945-10-31|   186|    80|         Netherlands|
|     69057|      Kevin Forster|  1|1958-09-27|   178|    61|       Great Britain|
|    146786|Gabriel Gerald Geay|  1|1996-09-10|   176|    71| United Republic ...|
|     53527|  Salvador Amendola|  1|1906-05-13|   176|    71|              Brazil|
|     12501|        Henk Nooren|  1|1954-08-23|   176|    71|         Netherlands|
|     96094|       Franz Ortner|  1|1905-11-12|   176|    71|             Austria|
|     82185|        Ri Han-Soon|  0|1945-12-17|   157|    58| Democratic Peopl...|
|    100033|   Yuliya Chepalova|  0|1976-12-23|   164|    54|  Russian Federation|
|      2704|        Lotfi Joudi|  1|1963-08-11|   178|    66|             Tunisia|
|     67555|      Erik Eriksson|  1|1897-06-12|   186|    83|             Finland|
|     64080|      Stuart Walker|  1|1923-04-19|   170|    75|       United States|
|    101245|  Tetiana Chuvaieva|  0|1983-04-14|   176|    71|             Ukraine|
|    113204|      Damien Gaudin|  1|1986-08-20|   190|    80|              France|
|     43390|  Gilbert Scorsolio|  1|1932-07-21|   170|    64|              Monaco|
+----------+-------------------+---+----------+------+------+--------------------+
only showing top 20 rows

In [19]:
athlete.write.format("hive").mode("overwrite").saveAsTable("gold.athlete")

In [21]:
athlete.write.mode("overwrite").parquet("hdfs:///data/gold/Athlete_parquet")